// bower:scss
// endbower
body {
  background-color: #f9f9f9;
  color: #000000;
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.c-header {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  &__place {
    display: inline-flex;
    align-items: center;
    img {
      display: inline-block;
      margin-right: 6px;
    }
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    p {
      margin: 0;
    }
  }
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    a {
      display: inline-block;
      padding: 6px 24px 6px 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #4fdcff;
        text-decoration: none;
      }
    }
  }
}

.c-top {
  display: block;
  padding: 0 0 100px 0;
  background: url('../images/top_bg.jpg') no-repeat center;
  background-size: cover;
  &__header {
    display: block;
    padding: 20px 0;
    &>.container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__title {
    display: block;
    margin: 150px auto 30px auto;
    color: #ffffff;
    font-size: 43px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.13px;
    text-align: center;
    b,
    strong {
      color: #08bbe8;
    }
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 10px auto 140px auto;
    padding: 12px 60px 12px 26px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    border: 1px solid #08bbe8;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    &:after {
      display: block;
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      width: 54px;
      height: 100%;
      margin-right: -1px;
      border-radius: 0 5px 5px 0;
      background: #08bbe8 url('../images/icon_right.png') no-repeat center;
    }
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #4fdcff;
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    align-items: center;
    width: 100%;
    max-width: 285px;
    margin-bottom: 20px;
    &-image {
      display: inline-flex;
      align-items: center;
      width: 70px;
      height: 70px;
      img {
        display: block;
      }
    }
    &-title {
      display: inline-block;
      color: #ffffff;
      font-size: 21px;
      font-weight: 400;
    }
  }
  &__menu {
    display: none;
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    img {
      max-width: 100%;
    }
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 460px;
  }
  &__number {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    b,
    strong {
      display: block;
      margin: 0 0 6px 0;
      color: #4fdcff;
      font-size: 24px;
      font-weight: 700;
    }
    p {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
    }
  }
  &__call {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
  }
  &__phone {
    img {
      display: inline-block;
      margin-right: 20px;
    }
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.11px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #4fdcff;
      text-decoration: none;
    }
  }
  &__wu {
    img {
      display: inline-block;
      margin-right: 13px;
    }
    display: flex;
    align-items: center;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #4fdcff;
      text-decoration: none;
    }
  }
}

.c-order {
  display: block;
  position: relative;
  margin: 50px 0;
  padding: 75px 95px 75px 530px;
  box-shadow: 0 22px 59px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  background-color: #ffffff;
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 463px;
    height: 421px;
    bottom: 0;
    left: 6px;
    background: url('../images/form_1.png') no-repeat left bottom;
    background-size: contain;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #000000;
    font-size: 39px;
    font-weight: 300;
    b,
    strong {
      color: #62d72e;
      font-weight: 700;
      span {
        color: #62d72e;
        font-size: 19px;
        font-weight: 700;
      }
    }
  }
  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 16px;
    input {
      display: inline-block;
      width: 100%;
      max-width: 245px;
      margin-right: 15px;
      margin-bottom: 6px;
      padding: 10px 20px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #f6f6f6;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
    }
  }
  &__button {
    display: inline-block;
    width: 100%;
    max-width: 245px;
    margin-bottom: 6px;
    padding: 12px 26px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #5ecf2c;
    background-image: linear-gradient(-135deg, #67e330 0%, #5ecf2c 100%);
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      background: #4fdcff;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__checked {
    display: block;
    margin: 0;
    padding: 6px 0 6px 30px;
    background: url('../images/icon_checked.png') no-repeat left center;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
  }
  &_another {
    &:before {
      width: 429px;
      height: 451px;
      left: 60px;
      background: url('../images/form_2.png') no-repeat center;
    }
  }
}

.c-features {
  display: block;
  padding: 65px 0 10px 0;
  background-color: #ffffff;
  &__title {
    display: block;
    margin: 0 auto 45px auto;
    color: #010101;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__sub-title {
    display: block;
    position: relative;
    width: 100%;
    max-width: 280px;
    margin: 0 auto 50px auto;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 56px;
      height: 59px;
      left: 100%;
      top: 0;
      background: url('../images/icon_wtf.png') no-repeat center;
      background-size: contain;
    }
  }
  &__videos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 1010px;
    margin: 0 auto 40px auto;
  }
  &__video {
    display: inline-block;
    width: 100%;
    max-width: 495px;
    height: 270px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
    margin-bottom: 90px;
    &-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 18px;
      img {
        display: block;
        width: 63px;
        height: 63px;
        margin-right: 20px;
        border-radius: 999rem;
        object-fit: contain;
        box-shadow: 0 6px 24px rgba(0, 151, 189, 0.31);
        background-color: #08bbe8;
      }
      span {
        display: inline-block;
        color: #000000;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    &-text {
      display: block;
      margin: 0;
      opacity: 0.66;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.c-choose {
  display: block;
  padding: 60px 0 40px 0;
  background: url('../images/choose_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 auto 8px auto;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  &__sub-title {
    display: block;
    margin: 0 auto 45px auto;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    max-width: 380px;
    margin-bottom: 25px;
    &-image {
      display: block;
      position: relative;
      width: 154px;
      height: 154px;
      margin-right: 55px;
      border-radius: 5px;
      background-color: #ffffff;
      img {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: -5px;
      }
    }
    &-content {
      display: inline-block;
      width: 100%;
      max-width: 160px;
      color: #ffffff;
    }
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
    }
    &-text {
      display: block;
      margin: 0 0 10px 0;
      color: #feffff;
      font-size: 16px;
      font-weight: 300;
    }
    &-button {
      display: inline-block;
      margin: 0;
      padding: 6px 28px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #ffffff;
      color: #08bbe8;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        background: #4fdcff;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.c-materials {
  display: block;
  padding: 80px 0 10px 0;
  background-color: #ffffff;
  &__title {
    display: block;
    margin: 0 auto 30px auto;
    color: #000000;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__sub-title {
    display: block;
    margin: 0 auto 60px auto;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }
  &__cards {
    display: block;
  }
  &__card {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 55px;
    &-image {
      display: block;
      width: 190px;
      height: 190px;
      margin-right: 40px;
      border-radius: 999rem;
      object-fit: contain;
    }
    &-content {
      display: block;
      width: 100%;
      max-width: 500px;
    }
    &-title {
      display: block;
      width: 100%;
      max-width: 340px;
      margin: 0 0 12px 0;
      padding: 5px 25px;
      background-color: #08bbe8;
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
    }
    &-text {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.38;
    }
    &_righted {
      justify-content: flex-end;
      text-align: right;
      .c-materials__card-image {
        margin: 0 0 0 40px;
      }
      .c-materials__card-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-end;
      }
    }
  }
}

.c-types {
  display: block;
  padding: 80px 0 95px 0;
  background-color: #ffffff;
  &__title {
    display: block;
    margin: 0 auto 45px auto;
    color: #000000;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 291px;
    min-height: 235px;
    margin-bottom: 2px;
    padding: 35px 25px 10px 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    &-title {
      display: block;
      position: relative;
      margin: 0 auto 35px auto;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 50px;
        height: 1px;
        top: 100%;
        left: 50%;
        margin-left: -25px;
        margin-top: 20px;
        background-color: #08bbe8;
      }
    }
    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.29;
    }
  }
}

.c-advices {
  display: block;
  padding: 80px 0 85px 0;
  &__title {
    display: block;
    margin: 0 auto 16px auto;
    color: #000000;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__sub-title {
    display: block;
    margin: 0 auto 22px auto;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 270px;
    min-height: 290px;
    margin-bottom: 25px;
    padding: 30px 40px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    &-date {
      display: block;
      margin: 0 0 20px 0;
      color: #fbfbfb;
      font-size: 16px;
      font-weight: 400;
    }
    &-title {
      display: block;
      margin: 0;
      color: #fbfbfb;
      font-size: 20px;
      font-weight: 700;
    }
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__form {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 270px;
    min-height: 290px;
    margin-bottom: 25px;
    padding: 0;
    &-title {
      display: block;
      margin: 0 0 8px 0;
      color: #08bbe8;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
    &-text {
      display: block;
      margin: 0 0 20px 0;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
    }
    input {
      display: inline-block;
      width: 100%;
      margin-bottom: 8px;
      padding: 12px 22px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #ffffff;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
    }
    &-button {
      display: inline-block;
      width: 100%;
      padding: 12px 26px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #5ecf2c;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        background: #4fdcff;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.c-arrow {
  display: inline-flex;
  align-items: center;
  color: #08bbe8;
  font-size: 18px;
  font-weight: 700;
  img {
    max-width: 100%;
    margin-left: 12px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
    color: #5ecf2c;
    text-decoration: none;
  }
}

.c-ask {
  display: block;
  background: url('../images/form_bg.jpg') no-repeat center;
  background-size: cover;
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    padding: 100px 0;
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 547px;
      height: 593px;
      bottom: 0;
      left: 50px;
      background: url('../images/form_3.png') no-repeat center;
      background-size: cover;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
    max-width: 475px;
  }
  &__title {
    display: block;
    margin: 0 0 24px 0;
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__button {
    display: inline-block;
    margin-bottom: 28px;
    padding: 12px 58px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #5ecf2c;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      background: #4fdcff;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__or {
    display: block;
    margin: 0 0 16px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
  }
  &__number {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    img {
      margin-left: 16px;
    }
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #4fdcff;
      text-decoration: none;
    }
  }
  &__text {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
  }
}

.c-seo {
  display: block;
  padding: 80px 0 70px 0;
  background: url('../images/seo_bg.jpg') no-repeat right center;
  background-size: cover;
  &__title {
    display: block;
    max-width: 825px;
    margin: 0 0 30px 0;
    color: #010101;
    font-size: 36px;
    font-weight: 500;
  }
  p {
    display: block;
    max-width: 825px;
    margin: 0 0 30px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.c-footer {
  display: block;
  padding: 55px 0 60px 0;
  background-color: #002f3b;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__left {
    display: inline-block;
  }
  &__logo {
    display: block;
    margin-bottom: 75px;
    img {
      max-width: 100%;
    }
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    a {
      display: inline-block;
      margin-right: 8px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  &__links {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 390px;
    a {
      display: inline-block;
      width: 180px;
      margin-bottom: 18px;
      color: #08bbe8;
      font-size: 16px;
      font-weight: 300;
      span {
        border-bottom: 2px solid #03647c;
      }
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
        span {
          border-color: transparent;
        }
      }
    }
  }
  &__right {
    display: inline-block;
  }
  &__title {
    display: block;
    margin: 0 0 26px 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
  }
  &__phone {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    img {
      margin-right: 10px;
    }
    p {
      margin: 0;
    }
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #08bbe8;
      text-decoration: none;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    img {
      margin-right: 10px;
    }
    p {
      margin: 0;
      sup {
        font-size: 10px;
      }
    }
    &_after {
      p {
        margin-right: 14px;
      }
    }
  }
}

.c-members {
  display: block;
  padding: 80px 0 95px 0;
  &__title {
    display: block;
    margin: 0 auto 45px auto;
    color: #000000;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
  }
  &__ceo {
    display: block;
    position: relative;
    margin-bottom: 85px;
    padding: 40px 120px 40px 480px;
    box-shadow: 0 39px 59px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background: #ffffff url('../images/ceo.png') no-repeat 25px bottom;
    background-size: auto 100%;
    &-name {
      display: block;
      margin: 0 0 8px 0;
      color: #000000;
      font-size: 24px;
      font-weight: 300;
    }
    &-who {
      display: block;
      margin: 0 0 26px 0;
      color: #08bbe8;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      /* Text style for "генеральны" */
      letter-spacing: 1.4px;
    }
    &-text {
      display: block;
      margin: 0 0 18px 0;
      color: #000000;
      font-size: 18px;
      font-weight: 400;
    }
    &-ask {
      display: block;
      margin: 0 0 8px 0;
      color: #000000;
      font-size: 16px;
      font-weight: 700;
    }
    &-social {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      a {
        display: inline-block;
        margin-right: 8px;
        img {
          max-width: 100%;
        }
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
  &__cards {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 50px auto;
    .slick-next,
    .slick-prev {
      &:before {
        display: none;
      }
      width: 35px;
      height: 35px;
      top: 30%;
      bottom: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.4;
      filter: grayscale(1);
      transform: none;
      z-index: 1;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 1;
        filter: grayscale(0);
        text-decoration: none;
      }
    }
    .slick-next {
      right: 0;
      margin-right: -40px;
      background-image: url('../images/icon_slick_right.png');
    }
    .slick-prev {
      left: 0;
      margin-left: -40px;
      background-image: url('../images/icon_slick_left.png');
    }
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 290px;
    margin: 0 auto 20px auto;
    text-align: center;
    &-image {
      display: block;
      width: 100%;
      height: 255px;
      margin: 0 0 18px 0;
      border-radius: 5px;
      object-fit: cover;
    }
    &-who {
      display: block;
      margin: 0 0 6px 0;
      color: #08bbe8;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
    &-name {
      display: block;
      margin: 0 0 8px 0;
      color: #000000;
      font-size: 24px;
      font-weight: 300;
    }
    &-info {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.c-reviews {
  display: block;
  padding: 40px 0 60px 0;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #000000;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 990px;
    margin: 0 auto 5px auto;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 315px;
    margin-bottom: 30px;
    text-align: center;
    &-content {
      display: block;
      margin-bottom: 15px;
      iframe {
        display: block;
        width: 100%;
        height: 190px;
        border-radius: 5px;
      }
    }
    &-who {
      display: block;
      margin: 0 0 6px 0;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
    }
    &-from {
      display: block;
      margin: 0 0 6px 0;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.c-done {
  display: block;
  padding: 40px 0 85px 0;
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #000000;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 410px;
    margin-bottom: 20px;
    &-image {
      display: block;
      width: 100%;
      height: 245px;
      margin-bottom: 16px;
      border-radius: 5px;
      object-fit: cover;
    }
    &-row {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 15px;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      img {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        object-fit: contain;
      }
      p {
        margin: 0;
      }
    }
    &-footer {
      display: flex;
      justify-content: center;
      align-items: stretch;
      width: 100%;
    }
    &-price {
      display: block;
      flex: 1 1 50%;
      padding: 10px;
      border-radius: 5px 0 0 5px;
      background-color: #ffffff;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      span {
        font-size: 12px;
      }
    }
    &-button {
      display: block;
      flex: 1 1 50%;
      padding: 12px 20px;
      border-radius: 0 5px 5px 0;
      background-color: #5ecf2c;
      color: #fffefe;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        background: #4fdcff;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.tab-content {
  margin-bottom: 20px;
}

.nav-tabs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 50px;
  border: 0;
  text-align: center;
}

.nav-tabs .nav-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 5px 5px;
  padding: 12px 30px;
  border: 0;
  box-shadow: 0 7px 24px rgba(0, 0, 0, 0.05);
  border-radius: 22px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
    box-shadow: 0;
    text-decoration: none;
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: 0;
  background-color: #08bbe8;
  box-shadow: 0;
  color: #ffffff;
}

.c-portfolio {
  display: block;
  padding: 80px 0 90px 0;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #000000;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
  }
  &__content {
    display: block;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__button {
    display: inline-block;
    margin-bottom: 6px;
    padding: 12px 45px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #5ecf2c;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      background: #4fdcff;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__big {
    display: block;
    width: 100%;
    margin-bottom: 45px;
    .slick-next,
    .slick-prev {
      &:before {
        display: none;
      }
      width: 35px;
      height: 35px;
      top: 0;
      bottom: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.4;
      filter: grayscale(1);
      transform: none;
      z-index: 1;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 1;
        filter: grayscale(0);
        text-decoration: none;
      }
    }
    .slick-next {
      left: auto;
      right: 0;
      margin-top: -1px;
      background-image: url('../images/icon_slick_right.png');
    }
    .slick-prev {
      left: auto;
      right: 42px;
      background-image: url('../images/icon_slick_left.png');
    }
    &-card {
      display: block;
      width: 100%;
    }
    &-image {
      display: block;
      position: relative;
      width: 100%;
      max-width: 445px;
      height: 315px;
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 121px;
        height: 129px;
        top: 0;
        left: 0;
        object-fit: contain;
        background: url('../images/portfolio_before.png') no-repeat center;
      }
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 121px;
        height: 129px;
        bottom: 0;
        right: 0;
        object-fit: contain;
        background: url('../images/portfolio_after.png') no-repeat center;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-title {
      display: block;
      margin: 24px 0;
      color: #000000;
      font-size: 24px;
      font-weight: 300;
    }
    &-row {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 15px;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      img {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        object-fit: contain;
      }
      p {
        margin: 0;
      }
    }
    &-text {
      display: block;
      margin: 0 0 20px 0;
      padding-top: 20px;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
      font-style: italic;
    }
    &-author {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
    }
  }
  &__small {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    .item {
      outline: 0;
    }
    &-card {
      display: block;
      width: 100%;
      max-width: 170px;
      height: 110px;
      margin: 0 auto 20px auto;
      object-fit: cover;
    }
    .slick-current {
      img {
        box-shadow: 0 10px 20px #4fdcff;
      }
    }
  }
}

.c-map {
  display: block;
  padding: 90px 0 140px 0;
  background-color: #ffffff;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #000000;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    b,
    strong {
      font-weight: 700;
    }
  }
  #map {
    display: block;
    width: 100%;
    height: 390px;
  }
}


/* new */

.c-calc {
  display: block;
  padding: 90px 0;
  &__title {
    display: block;
    max-width: 685px;
    margin: 0 0 20px 0;
    color: #000000;
    font-size: 36px;
    font-weight: 300;
  }
  &__label {
    display: block;
    margin: 0 0 10px 0;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
  }
  &__input {
    display: block;
    width: 100%;
    max-width: 220px;
    margin-bottom: 35px;
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.04);
    color: #000000;
    font-size: 18px;
    font-weight: 300;
  }
  &__select {
    display: block;
    max-width: 220px;
    margin-bottom: 35px;
    padding: 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.04) url('../images/icon_select.png') no-repeat 185px center;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    select {
      width: 100%;
      padding: 12px 40px 12px 20px;
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  &__footer {
    display: inline-flex;
    flex-flow: row wrap;
    position: relative;
    padding-top: 20px;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    b,
    strong {
      font-weight: 500;
    }
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 56px;
      height: 59px;
      left: 100%;
      top: 30px;
      background: url('../images/icon_wtf.png') no-repeat center;
      background-size: contain;
    }
  }
  &__image {
    display: block;
    max-width: 100%;
    height: 310px;
    border-radius: 6px;
    object-fit: cover;
  }
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    display: none !important;
  }
  [type="radio"]:checked+label,
  [type="radio"]:not(:checked)+label {
    display: block;
    position: relative;
    margin-bottom: 12px;
    padding-left: 24px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  [type="radio"]:checked+label:before,
  [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;
    height: 17px;
    background: url('../images/icon_checkbox.png') no-repeat center;
    background-size: contain;
    transition: all 0.2s ease-out;
  }
  [type="radio"]:checked+label:before {
    background: url('../images/icon_checkbox_checked.png') no-repeat center !important;
  }
  &_row {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .c-top__logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .c-top__menu {
    display: inline-block;
  }
  .c-header__nav {
    display: none;
    width: 100%;
    padding: 0 0 12px 0;
    text-align: center;
    a {
      display: block;
      width: 100%;
    }
  }
  .c-top__info {
    justify-content: space-around;
    margin: 15px 0;
  }
  .c-top__number b,
  .c-top__number strong {
    margin: 0;
  }
  .c-top__header>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .c-top__number {
    align-items: center;
  }
  .c-top__title {
    margin: 30px 0;
    font-size: 32px;
  }
  .c-top__button {
    margin-bottom: 30px;
  }
  .c-top__card {
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
  }
  .c-top {
    padding-bottom: 5px;
  }
  .c-order {
    margin: 20px 0;
    padding: 20px;
    &:before {
      display: none;
    }
  }
  .c-order {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .c-order__form {
    justify-content: center;
    input {
      margin-right: 0;
    }
  }
  .c-done {
    padding: 20px 0;
  }
  .c-done__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .c-done__cards {
    justify-content: space-around;
  }
  .c-done__card-image {
    height: 200px;
  }
  .c-done__card {
    min-height: auto;
    margin-bottom: 30px;
  }
  .tab-content {
    margin-bottom: 0;
  }
  .c-features {
    padding: 20px;
  }
  .c-features__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .c-features__sub-title {
    margin-bottom: 20px;
    &:after {
      display: none;
    }
  }
  .c-features__video {
    height: 200px;
  }
  .c-features__videos {
    margin-bottom: 10px;
  }
  .c-features__card {
    margin-bottom: 25px;
  }
  .c-choose {
    padding: 20px 0;
  }
  .c-choose__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
  }
  .c-choose__card-image {
    margin: 0 0 10px 0;
  }
  .c-materials {
    padding: 20px 0;
  }
  .c-materials__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .c-materials__sub-title {
    margin-bottom: 20px;
  }
  .c-materials__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    outline: 2px solid #4fdcff;
    margin-bottom: 20px;
    padding: 4px;
    text-align: center !important;
  }
  .c-materials__card-image {
    margin: 0 0 10px 0;
  }
  .c-materials__card-title {
    padding: 5px;
  }
  .c-materials__card_righted .c-materials__card-image {
    margin: 10px 0 10px 0;
  }
  .c-members {
    padding: 20px 0;
  }
  .c-members__cards .slick-next {
    margin-right: 0;
  }
  .c-members__cards .slick-prev {
    margin-left: 0;
  }
  .c-members__cards {
    margin-bottom: 20px;
  }
  .c-members__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .c-members__ceo {
    margin-bottom: 20px;
    padding: 20px;
    background: #ffffff;
  }
  .c-types {
    padding: 20px 0;
  }
  .c-types__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .c-portfolio {
    padding: 20px 0;
  }
  .c-portfolio__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .c-portfolio__big-image {
    height: 240px;
  }
  .c-portfolio__small-card {
    max-width: 120px;
    height: 85px;
  }
  .c-portfolio__small {
    margin-bottom: 5px;
  }
  .c-order__title {
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    br {
      display: none;
    }
  }
  .c-reviews {
    padding: 5px 0 20px 0;
  }
  .c-reviews__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .c-reviews__card {
    margin-bottom: 15px;
  }
  .c-advices {
    padding: 20px 0;
  }
  .c-advices__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .c-advices__cards {
    justify-content: space-around;
  }
  .c-advices__cards {
    margin-bottom: 0;
  }
  .c-map {
    padding: 20px 0;
  }
  .c-map__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .c-ask__wrapper {
    padding: 30px 0;
    &:before {
      display: none;
    }
  }
  .c-ask__title {
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
  }
  .c-seo {
    padding: 20px 0;
    background: #ffffff;
  }
  .c-seo__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .c-seo p {
    margin-bottom: 15px;
  }
  .c-footer {
    padding: 20px 0;
  }
  .c-footer__logo {
    margin-bottom: 15px;
  }
  .c-footer__social {
    margin-bottom: 20px;
  }
  .c-footer__title {
    margin-bottom: 15px;
  }
  /* new */
  .c-calc__footer:after {
    display: none;
  }
  .c-calc__footer {
    margin-bottom: 15px;
    padding: 0;
  }
  .c-calc {
    padding: 30px 0;
  }
  
  .c-calc__title {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }
  .c-calc__select {
    margin-bottom: 20px;
  }
  .c-calc_row {
    margin-bottom: 15px;
  }
  .c-calc__image {
    height: 230px;
  }

}

@media (max-width: 991px) {}

@media (max-width: 767px) {}